<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--类型别名配置-->
    <typeAliases>
       <package name="com.yicj.study.entity"/>
    </typeAliases>
    <!--配置MyBatis 去哪里找映射文件-->
    <mappers>
        <!--<package name="mappers"/>-->
        <mapper resource="mappers/SysRoleMapper.xml" />
        <mapper resource="mappers/UserMapper.xml" />
    </mappers>
</configuration>